<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">生态系统</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>Help</h4></li>
    <li><ul>
      <li><a href="https://github.com/rpa-cn/forum" class="nav-link" target="_blank">Forum</a></li>
      <li><a href="https://weibo.com/p/2304914240715636861725/" class="nav-link" target="_blank">Chat</a></li>
    </ul></li>

    <li><h4>News</h4></li>
    <li><ul>
      <li><a href="https://github.com/rpa-cn/weekly" class="nav-link" target="_blank">周报</a></li>
      <li><a href="https://github.com/wanghaisheng/awesome-ipa" class="nav-link" target="_blank">微博</a></li>
      <li><a href="https://github.com/wanghaisheng/awesome-ipa" class="nav-link" target="_blank">公众号</a></li>

      <li><a href="https://medium.com/the-vue-point" class="nav-link" target="_blank">博客</a></li>
      <li><a href="https://vuejobs.com/?ref=vuejs" class="nav-link" target="_blank">招聘</a></li>
    </ul></li>
    <li><h4>资源列表</h4></li>
    <li><ul>
      <li><a href="https://github.com/vuejs" class="nav-link" target="_blank">白皮书</a></li>
      <li><a href="https://github.com/vuejs" class="nav-link" target="_blank">案例分享</a></li>
      <li><a href="https://github.com/vuejs" class="nav-link" target="_blank">培训课程</a></li>
      <li><a href="https://github.com/rpa-cn" class="nav-link" target="_blank">Official Repos</a></li>
      <li><a href="https://github.com/rpa-cn/rpa-curated/" class="nav-link" target="_blank">RPA 产品、工具、软件包</a></li>
      <li><a href="https://github.com/wanghaisheng/awesome-ipa" class="nav-link" target="_blank">Awesome RPA</a></li>
    </ul></li>
  </ul>
</li>
