<li class="nav-dropdown-container support-vue">
  <a href="/support-rpa/" class="nav-link">支持 RPA</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-rpa/#One-time-Donations" class="nav-link">一次性赞助</a></li>
      <li><a href="/support-rpa/#Recurring-Pledges" class="nav-link">周期性赞助</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">周边</a></li>
    </ul></li>
  </ul>
</li>
